
* {
  box-sizing: border-box;
}

.home{
  width: 50%;
  margin: auto;
  text-align: center;
}

form{
  width: 50%;
  margin: 2rem auto;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #80808061;
  float: left;
  width: 90%;
  background: #f1f1f100;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid #80808061;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.beer_name{
  font-size: 1.5rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.beer_description{
  font-size: 1.5rem;
  color:#626060e8;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.beer_image{
    height: 8rem;
    margin:0.5rem 0 0 1rem;
}

.beer_dialog{
  margin: 1rem 0 0 1rem;
  border: 1px solid #80808014;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 0.5rem;
  height: 15rem;
  cursor: pointer;
}

.no-data{
  width:80%;
  font-size: medium;
  font-weight: 400;
  margin-left: 30%;
}

.list{
  margin: 0 0 0 27rem;
  width:80%;
  
}

.beer-col-3{
  margin-left: 0!important;
  margin-right: 0!important;
}

.beer-wrapper{
  padding:1%!important;
  
}